<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>Welcome to my website for Lab 3</h2>
        <h4>My name is Ngoc Le</h4>
        @Html.ActionLink("Home", "Index", "Home")&emsp;
        @Html.ActionLink("Show the song!", "SongForm", "Home")&emsp;
        @Html.ActionLink("Students", "CreateStudent", "Home")&emsp;
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        Footer!
        <br />Step to add css file and _layout:
        <ul>
            <li>Create folder web root folder wwwroot and add css file under that folder because in ASP.NET Core, files that are in wwwroot are only files that can be served over an http request</li>
            <li>Under Views folder, I created a Shared folder which contains _Layout.cshtml file because it makes more sense to create a Shared folder where this _Layout file will be shared among the Views</li>
        </ul>
        Layout provides users with a consistent experience as they navigate from page to page and its portion can be reused in View file.
    </footer>
</body>
</html>
